.jquery-modal {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#basket-modal {
  z-index: 10;
  width: 100%;
  max-width: 100%;
  height: 100%;
  border-radius: 0;
  padding: 10px;
  box-shadow: none;
}

#basket-modal-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 10px 0;
}

#basket-close {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100%;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

#basket-close:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

#basket-close:active {
  transform: scale(90%);
  transition: transform 0.05s ease-in-out;
}

@media (min-width: 1279px) {
  #basket-modal {
    z-index: 10;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 600px;
    border-radius: 10px;
  }
}
