#home {
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: white;
}

#home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  background-image: url("../assets/home/shapes.png");
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
