#header-mobile {
  position: fixed;
  min-height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

@media (min-width: 1279px) {
  #header-mobile {
    display: none;
  }
}

#header-mobile img {
  width: 48px;
  height: 48px;
}

#header-mobile-logo-wrap {
  padding-left: 1rem;
}

#header-mobile-burger-wrap {
  padding-right: 1rem;
}

#header-mobile-logo-wrap,
#header-mobile-basket-wrap,
#header-mobile-burger-wrap {
  display: flex;
  align-items: center;
}

#header-basket-wrap {
  display: flex;
  flex-direction: row;
  column-gap: 0.3rem;
}

#header-basket-badge-wrap {
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7852f;
}

#header-basket-badge-counter {
  color: white;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
}

#header-mobile-basket-wrap {
  display: flex;
  flex-direction: row;
  column-gap: 0.3rem;
  position: relative;
}

#header-mobile-basket-badge-wrap {
  position: absolute;
  right: -7px;
  top: 9px;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7852f;
}

#header-mobile-basket-badge-counter {
  color: white;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
}
