body {
  background-color: darkslategray;
  margin: 0;
  padding: 0;
}

#header {
  width: 100%;
  min-height: 4rem;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

#header #logo {
  margin-left: 1.5rem;
}

#root {
  padding-top: 5rem;
}

#header #menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  margin-right: 1.5rem;
}

#content {
  max-width: 1270px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  justify-content: center;
  padding: 8;
}

#card {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  background-color: white;
  width: 30%;
}

#card img {
  max-width: 100%;
  align-self: center;
}
