.basket {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.basket-body {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 1rem;
	row-gap: 1rem;
	overflow-y: scroll;
}

.basket-empty {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 1.6rem;
	color: gray;
	text-align: center;
	row-gap: 1rem;
	padding: 2rem;
}

.basket-empty a {
	color: gray;
	text-decoration-color: #8cbe22;
}

.basket-success {
	display: flex;
	flex-direction: column;
	row-gap: 3rem;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 2rem;
	text-align: center;
	font-size: 1.4rem;
}

.basket-footer form {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	row-gap: 1rem;
	border-top: 1px #e0e0e0 solid;
}

.basket-footer-input {
	background: #ffffff;
	border-radius: 8px;
	height: 40px;
	font-size: 18px;
	padding: 0 10px;
	box-sizing: border-box;
	border-width: 1px;
	border-color: lightgray;
	border-style: solid;
	width: 100%;
}

.basket-footer-submit {
	background: #8cbe22;
	border-radius: 8px;
	text-decoration: none;
	color: white;
	padding: 20px;
	font-size: 18px;
	text-align: center;
	box-sizing: border-box;
	border: none;
	cursor: pointer;
	width: 100%;
	transition: all 0.5s;
}

.basket-footer-submit:active {
	background-color: #577713;
	transform: scale(98%);
	transition: transform 0.05s ease-in-out;
}
