.card-btn-minus {
	display: flex;
	height: 32px;
	border-radius: 40px;
	background-color: #ccc;
	text-decoration: none;
	padding: 0px 12px;
	box-sizing: border-box;
	border: none;
	cursor: pointer;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	column-gap: 8px;
	transition: all 0.2s;
	margin-right: 8px;
}

.card-btn-minus:active {
	background-color: #858585;
}

.card-btn-minus.hide {
	transform: scale(0);
	visibility: hidden;
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
}

.card-btn-minus:active,
.card-btn-minus.touched {
	transform: scale(97.5%);
	transition: transform 0.05s ease-in-out;
}

.card-minus {
	color: #fff;
	font-weight: 600;
	font-size: 1.3rem;
}

.card-btn-plus {
	height: 32px;
	border-radius: 40px;
	background-color: #8cbe22;
	text-decoration: none;
	padding: 7px 12px;
	box-sizing: border-box;
	border: none;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 8px;
	transition: all 0.5s;
}

.card-btn-plus:active {
	background-color: #577713;
}

.card-btn-plus:active,
.card-btn-plus.touched {
	transform: scale(97.5%);
	transition: transform 0.05s ease-in-out;
}

.card-price {
	color: #fff;
	font-weight: 600;
	letter-spacing: 0.02px;
}

.card-add {
	color: #fff;
	font-size: 1.5rem;
}
