.card-view {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	row-gap: 1.5rem;
	height: 100%;
	max-height: calc(100vh - 110px);
	overflow: scroll;
}

.card-gallery-wrap {
	min-width: calc(100vw - 2rem);
	max-width: calc(100vw - 2rem);
	min-height: calc(100vw - 2rem);
	max-height: calc(100vw - 2rem);
	border-radius: 8px;
	overflow: hidden;

	@media (min-width: 1279px) {
		min-width: 400px;
		max-width: 400px;
		min-height: 400px;
		max-height: 400px;
	}
}

.card-gallery-wrap > .swiper {
	height: 100%;
}

.card-view-image {
	width: 100%;
	min-width: calc(100vw - 2rem);
	max-width: calc(100vw - 2rem);
	min-height: calc(100vw - 2rem);
	max-height: calc(100vw - 2rem);
	object-fit: cover;
	border-radius: 8px;

	@media (min-width: 1279px) {
		min-width: 400px;
		max-width: 400px;
		min-height: 400px;
		max-height: 400px;
	}
}

.card-view-text {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}

.card-view-buttons {
	display: flex;
	width: 100%;
	flex-direction: row;
	column-gap: 0.5rem;
}

.card-view-buttons-first {
	display: flex;
	width: 100%;
	flex-direction: row;
	column-gap: 0.5rem;
}

.card-view-footer {
	display: flex;

	flex-direction: column;
	align-items: flex-start;
	row-gap: 1rem;
	width: 100%;
}

.card-btn-basket {
	height: 32px;
	border-radius: 40px;
	background-color: #8cbe22;
	text-decoration: none;
	padding: 7px 12px;
	box-sizing: border-box;
	border: none;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 8px;
	transition: all 0.5s;
}

.card-btn-basket:active {
	background-color: #577713;
}

.card-btn-basket:active {
	transform: scale(97.5%);
	transition: transform 0.05s ease-in-out;
}

@media (min-width: 500px) {
	.card-view {
		flex-direction: row;
		align-items: flex-start;
		column-gap: 1.5rem;
	}

	.card-gallery-wrap {
	}

	.card-view-image {
		width: 100%;
		min-width: 400px;
		max-width: 400px;
		max-height: 400px;
		object-fit: cover;
		border-radius: 8px;
	}

	.card-view-text {
		row-gap: 1rem;
	}

	.card-view .card-title {
		font-size: 1.8rem;
		line-height: 2rem;
	}

	.card-view .card-subtitle {
		font-size: 1.2rem;
		line-height: 1.5rem;
	}

	.card-view .card-description {
		font-size: 1.2rem;
	}

	.card-view-footer {
		row-gap: 2rem;
	}
}

.card-view-empty {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 1.6rem;
	color: gray;
	text-align: center;
	row-gap: 1rem;
}

.card-view-empty a {
	color: gray;
	text-decoration-color: #8cbe22;
}
