#contacts-text-wrap {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	padding: 1rem;
	padding-bottom: 2rem;
}

.contacts-group {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}

.contacts-text-title {
	font-size: 1.2rem;
	color: #404040;
	font-weight: 600;
}

.contacts-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 0.5rem;
	flex-wrap: wrap;
}

.contacts-phone a {
	color: #f7852f;
	text-decoration: none;
}

.contacts-phone a:hover {
	text-decoration: underline;
}
