body.modal-open {
	@apply overflow-hidden pr-4;
}

.modal-root {
	@apply w-full h-full max-w-[100vw] max-h-[100vh] rounded-none p-0 m-0 bg-black/30 backdrop-blur-xs;
}

body.modal-open .modal-root {
	@apply flex w-full;
}

.modal-content {
	@apply flex w-full flex-col bg-white h-full max-h-[calc(100vh-10px)] self-end rounded-t-3xl;
}

.modal-body {
	@apply max-h-[calc(100vh-72px)] overflow-hidden h-full;
}

@media (min-width: 1280px) {
	body.modal-open .modal-root {
		@apply flex items-center justify-center;
	}

	.modal-content {
		@apply w-full h-full self-center max-h-[90vh] mx-[3%] rounded-md;

		-webkit-box-shadow: 0px 12px 17px 0px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0px 12px 17px 0px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 12px 17px 0px rgba(0, 0, 0, 0.3);
	}

	.modal-body {
		@apply max-h-[calc(90vh-72px)];
	}

	.modal-size-md {
		@apply max-w-[600px];
	}

	.modal-size-lg {
		@apply max-w-[900px];
	}

	.min-content {
		@apply h-min;
	}
}

.dialog-header {
	@apply flex items-center flex-row justify-between p-4 pb-2 border-b border-b-border;
}

.dialog-header span {
	@apply text-2xl text-base font-semibold;
}

@media (min-width: 500px) {
	.dialog-header {
		@apply p-4;
	}
}

.modal-header-close {
	@apply bg-none text-base p-0 transition-all active:scale-90 active:outline-none;
}
