#header-desktop {
	position: fixed;
	min-height: 10vh;
	width: 100%;
	display: none;
	align-items: center;
	justify-content: flex-end;
	flex-direction: row;
	column-gap: 1rem;
	background-color: rgba(255, 255, 255, 0);
	backdrop-filter: blur(0px);
	z-index: 9;
	padding-right: 4rem;
}

#header-desktop a {
	font-size: 1.2rem;
	font-weight: 500;
	text-decoration: none;
	color: var(--color-primary);
	text-transform: uppercase;
}

#header-desktop a:hover {
	text-decoration: underline;
	cursor: pointer;
	text-decoration-color: var(--color-secondary);
}

#header-basket-wrap {
	display: flex;
	flex-direction: row;
	column-gap: 0.3rem;
}

#header-basket-badge-wrap {
	border-radius: 100%;
	min-width: 1.5rem;
	height: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-secondary);
	transition: all 0.2s;
}

#header-basket-badge-wrap.hide {
	transform: scale(0);
	visibility: hidden;
}

#header-basket-badge-counter {
	color: white;
	font-weight: 600;
	font-size: 1rem;
	line-height: 1rem;
	transition: all 0.2s;
}

@media (min-width: 1279px) {
	#header-desktop {
		display: flex;
		padding-right: 16rem;
	}
}

@media (min-width: 1900px) {
	#header-desktop {
		display: flex;
		padding-right: 16rem;
	}
}
