#home-container {
	background-image: url('../assets/home/shapes.png');
	background-position: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

@media (width >= 64rem) {
	#home {
		background-image: url('../assets/home/bg-desktop.jpg');
		background-position: center;
		background-size: cover;
	}

	#home-container {
		background-size: 80% auto;
	}
}

@media (min-width: 1536px) {
	#home-container {
		background-size: 70% auto;
	}
}
