.mobile-menu {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
}

.mobile-menu a {
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
}

.mobile-menu a:last-of-type {
  border-top: 1px lightgray solid;
  padding-top: 1rem;
}
