#block_1 {
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  display: flex;
  justify-content: flex-start;
  background-color: white;
}

#block_1-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  background-image: url("../images/block_1/block_1-container-shapes.png");
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#block_1-container-logo {
  max-width: 80vw;
  margin-bottom: 1.5rem;
}

#block_1-container-description_first-wrap {
  width: 100%;
  max-width: 450px;
  height: 95px;
  background-image: url("../images/block_1/block_1-container-description_first-wrap.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

#block_1-container-description_first {
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
}

#block_1-container-description_second {
  font-size: 1.5rem;
  color: #8cbe22;
  font-weight: 500;
  margin-bottom: 2rem;
}

#block_1-container-button {
  background: #8cbe22;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 10px 20px;
  text-align: center;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}

@media (min-width: 321px) {
  #block_1-container-logo {
    margin-bottom: 3rem;
  }

  #block_1-container-description_first {
    font-size: 2rem;
  }

  #block_1-container-description_second {
    font-size: 2rem;
    margin-bottom: 4rem;
  }

  #block_1-container-button {
    font-size: 2rem;
    padding: 20px 40px;
  }
}

#block_1-container-button:hover {
  background: #86b421;
}

@media (min-width: 1280px) {
  #block_1 {
    background-image: url("../images/block_1/block_1-bg_desktop.jpg");
    background-position: center;
    background-size: cover;
  }

  #block_1-container {
    width: 50%;
    margin-left: 40%;
    background-size: 80% auto;
  }

  #block_1-container-logo {
    max-width: 500px;
    margin-bottom: 3rem;
  }

  #block_1-container-description_first-wrap {
    width: 450px;
    height: 95px;
  }
}

@media (min-width: 1536px) {
  #block_1-container {
    width: 50%;
    margin-left: 40%;
    background-size: 70% auto;
  }
}
