#block_2 {
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  display: flex;
  justify-content: flex-start;
  background-image: url("../images/block_2/block_2_bg-mobile.jpg");
  background-position: center;
  background-size: cover;
}

@media (min-width: 1280px) {
  #block_2 {
    background-image: url("../images/block_2/block_2_bg-desktop.jpg");
    background-position: center;
    background-size: cover;
  }
}
