#block_2 {
  min-height: 64vh;
  /* max-height: 100vh; */
  width: 100%;
  display: flex;
  justify-content: center;
  /* padding-bottom: 40px; */
}

#block_2-aside-left {
  display: none;
}

#block_2 .container {
  max-width: 1280px;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 10px;
  display: flex;
}

#block_2-main {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 20px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10px;
  min-width: 46%;
  max-width: 46%;
}

.card-image {
  width: 100%;
  border-radius: 10px;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

.card-title {
  color: #404040;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.02px;
}

.card-subtitle {
  color: #a6a6a6;
  line-height: 15px;
  letter-spacing: 0.02px;
}

#block_2-main-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px 20px;
  width: 100%;
}

@media (min-width: 1280px) {
  #block_2-aside-left {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    gap: 8px;
    border-radius: 20px;
    min-width: 200px;
    max-width: 200px;
    padding: 16px;
  }

  .category-button {
    background: #fff;
    border-radius: 10px;
    text-decoration: none;
    color: #595959;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 20px;
    text-align: start;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    transition: 0.5s;
  }

  .category-button:hover {
    background: #f2f2f2;
  }

  .category-button.active {
    color: #fff;
    background: #8cbe22;
  }
}

@media (min-width: 1280px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 10px;
    min-width: 18%;
    max-width: 18%;
  }
}
