@import "./framework/justify-content.css";
@import "./framework/align-items.css";
@import "./framework/width.css";
@import "./framework/height.css";
@import "./framework/background-color.css";
@import "./framework/gap.css";
@import "./framework/padding.css";
@import "./framework/margin.css";
@import "./framework/border-radius.css";
@import "./framework/font-size.css";
@import "./framework/max-width.css";
@import "./framework/flex.css";
@import "./framework/flex-basis.css";
@import "./framework/word-break.css";
@import "./framework/text-align.css";
@import "./framework/font-weight.css";
@import "./framework/text-color.css";
@import "./framework/opacity.css";

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

.stack {
  display: flex;
  flex-direction: column;
}

.hstack {
  display: flex;
  flex-direction: row;
}

.container {
  width: 100%;
  max-width: 1280px;
}

.dev {
  border: 1px;
  border-color: brown;
  border-style: dashed;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

* {
  -webkit-tap-highlight-color: transparent;
}
