@import "./_framework.css";
@import "./_base.css";
@import "./header/header_mobile.css";
@import "./header/header_desktop.css";
@import "./menu/menu.css";

body {
  background-color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
}
