#menu-categories-desktop {
  display: none;
}

@media (min-width: 1279px) {
  #menu-categories-desktop {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    row-gap: 0.5rem;
    border-radius: 20px;
    min-width: 200px;
    max-width: 200px;
    padding: 16px;
  }

  .category-button {
    background: #fff;
    border-radius: 40px;
    text-decoration: none;
    color: #4b4b4b;
    font-size: 1rem;
    font-weight: 500;
    padding: 0px 20px;
    height: 40px;
    text-align: start;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
  }

  .category-button:hover {
    background: #f2f2f2;
  }

  .category-button.active {
    color: #fff;
    background: #8cbe22;
  }
}
