#menu-categories-mobile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  overflow: auto;
  column-gap: 10px;
}

#menu-categories-mobile a:first-child {
  margin-left: 10px;
}

#menu-categories-mobile a:last-child {
  margin-right: 10px;
}

.category-button {
  background: #fff;
  border-radius: 30px;
  text-decoration: none;
  color: #4b4b4b;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 16px;
  text-align: start;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  white-space: nowrap;
}

.category-button:hover {
  background: #f2f2f2;
}

.category-button.active {
  color: #fff;
  background: #8cbe22;
}

@media (min-width: 1279px) {
  #menu-categories-mobile {
    display: none;
  }
}
