@import 'tailwindcss';
@import './styles/components.css';

@import './styles/CategoriesDesktop.css';
@import './styles/ContactsModal.css';
@import './styles/DeliveryPaymentModal.css';
@import './styles/Dialog.css';
@import './styles/Home.css';
@import './styles/Loader.css';
@import './styles/MobileMenuModal.css';

@theme {
	--color-primary: #8cbe22;
	--color-secondary: #f7852f;
	--color-base: #404040;
	--color-muted: #a6a6a6;
	--color-root-background: #f2f2f2;
	--color-card-background: #fff;
	--color-border: var(--color-neutral-300);

	--header-height: 10vh;
}

body {
	color: var(--color-base);
	background-color: var(--color-root-background);
}

:root {
	font-family: 'Montserrat';
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
}

#root {
	display: flex;
	flex-direction: column;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

* {
	-webkit-tap-highlight-color: transparent;
}

h1 {
	padding: 0;
	margin: 0;
}

/* .hidden {
	visibility: hidden;
} */

.hidescroll {
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.hidescroll::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.dev {
	border: 1px solid red;
}

.swiper-button-prev::after {
	color: var(--primary);
}

.swiper-button-next::after {
	color: var(--primary);
}

.swiper-pagination-bullet-active {
	background: var(--primary) !important;
}

.card-view-image {
	width: 100%;
	min-width: calc(100vw - 2rem);
	max-width: calc(100vw - 2rem);
	min-height: calc(100vw - 2rem);
	max-height: calc(100vw - 2rem);
	object-fit: cover;
	border-radius: 8px;

	@media (min-width: 1279px) {
		min-width: 400px;
		max-width: 400px;
		min-height: 400px;
		max-height: 400px;
	}
}

.swiper-slide > .card-view-image {
	border-radius: 0px;
}

.swiper-slide:first-child > .card-view-image {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.swiper-slide:last-child > .card-view-image {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
